<html>
    <head>
        <title>
            {% if title %}
                {{title}}
            {% else %}
                Home
            {% endif %}
        </title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <a href ="{{ url_for('index') }}">Home</a>
            <a href ="{{ url_for('login') }}">Login</a>
            <hr>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}
    </body>
</html>